{% extends 'index.html' %}

{% block content %}
<div style="margin-top:100px;">
{% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}
{% comment %} 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> {% endcomment %}
  <div class="col-sm-6 " style="margin-left : 33%;margin-bottom:100px;"  role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reset New Password</h5>
        
        
          
      
      </div>
      <div class="modal-body">
        {% if validlink %}
        <form method="post">
        {% csrf_token %}
      {{form.as_p}}
   
          <input type="submit" value="Save" class="btn btn-primary">
          <br> 
       
    
        </form>
       
    {% else %}   
    <p style="color:red">Invalid Token.</p>
    
    <p>
        <a href="{% url 'password_reset' %}" >Request a New Password reset token.</a>
    </p>
    {% endif %}
    

      </div>
      <div class="modal-footer" style="">
        
      
      </div>
    </div>
  </div>
  

{% endblock  %}

