{% extends 'index.html' %}

{% block content %}
<div style="margin-top:100px;">

<center>
  <div class="col-sm-6  " style="margin-bottom:100px;"  role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        
        
          
      
      </div>
      <div class="modal-body">
        <form method="post">
        {% csrf_token %}
      {{form.as_p}}
          
          
          <input type="submit" value="Change Password" class="btn btn-primary">
          <br> 
          
 
          
           <div>
              {% for message in massages %}
              <h3> {{message1}} </h3>
              {% endfor %}
        </div>
        </form>
       

      </div>
    </center>
  </div>
  <script src='https://www.google.com/recaptcha/api.js'></script> 
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
  async defer>

{% endblock  %}

