{% extends 'index.html' %}

{% block content %}
{% load static %}
  <!--==========================
      About Us Section
    ============================-->
    <div style= "margin-top:100px;"></div>
    <section id="about">
      <div class="container" margin-top="100px">

        <header class="section-header">
          <h3>About Us</h3>
          <p>This System Provide Markov Chain Analysis of Rainfall.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p align="justify">
                The yield of crops particularly under rainfed condition depends on the rainfall pattern. A simple criteria related to sequential phenomena like dry and wet spells could be used for analyzing rainfall data to obtain specific information needed for crop planning and for carrying out agricultural operations, Markov chain probability model has been recognized as a suitable model to explain the long term frequency behaviour of wet or dry spells. Several authors have demonstrated its practical utility in agricultural planning for both long and short term periods. This model enables to determine the probability of occurrence of dry and wet spells during a particular week. 
            </p>

            <div class="icon-box wow fadeInUp">
              <!-- <div class="icon"><i class="fa fa-shopping-bag"></i></div> -->
              <!-- <h4 class="title"><a href="">Eiusmod Tempor</a></h4> -->
              <!-- <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p> -->
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <!-- <div class="icon"><i class="fa fa-photo"></i></div> -->
              <!-- <h4 class="title"><a href="">Magni Dolores</a></h4> -->
              <!-- <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p> -->
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <!-- <div class="icon"><i class="fa fa-bar-chart"></i></div> -->
              <!-- <h4 class="title"><a href="">Dolor Sitema</a></h4> -->
              <!-- <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p> -->
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="{% static 'img/chart (1).png' %}" class="img-fluid" alt="">
          </div>
        </div>

       
    </section><!-- #about -->
{% endblock %}