{% extends 'deshborad.html' %}
{% load static %}
{% block css %}
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> {% endcomment %}
<style type="text/css">
        table {
            width:  100%;
            border-collapse: collapse;
        }
        td {
            border: 1px solid black;
        }
        .scrollingTable {
            width: 69em;
            overflow-y: auto;
            
        }
    </style>
     {% comment %} <script type="text/javascript">
        function makeTableScroll() {
            // Constant retrieved from server-side via JSP
            var maxRows = 6;
            var table = document.getElementById('myTable');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = height + "px";
            }
   
        }
        
    </script> {% endcomment %}

{% endblock  %}

{% block header %}
All weather Data 
{% endblock  %}

{% block content %}
{% comment %} <script type="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>  {% endcomment %}
<div>{% if user.is_superuser %}
<a href= "admin/test1/weather_data/import/" class="btn btn-info">Import </a>&nbsp; <a href = "admin/test1/weather_data/export/" class="btn btn-info"> Export</a>&nbsp;<a href ="admin/test1/weather_data/add" class= "btn btn-info " style="float:right;" >Insert New Data</a>
{% endif %}
</div>
<body>
{% comment %} <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link href= "//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel = "stylesheet"> {% endcomment %}
{% comment %} <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script> {% endcomment %}

<div class="scrollingTable" >
<table id="myTable" class="table table-striped table-bordered table-sm" style="width:100%;">
<thead>
            <tr>
               <th>Sr No</th>
               <th>DATE</th>
               <th>ET</th>
               <th>EP</th>
               <th>BSS</th>
               <th>RF</th>
               <th>WD</th>
               <th>WD1</th>
               <th>WS</th>
               <th>DT1</th>
               <th>WT1</th>
               <th>DT2</th>
               <th>WT2</th>
               <th>MAXT</th>
               <th>MINT</th>
               <th>RH11</th>
               <th>RH22</th>
               <th>VP11</th>
               <th>VP11</th>
               <th>CLOUDM</th>
               <th>CLOUDE</th>
               <th>SOIL1</th>
               <th>SOIL2</th>
               <th>SOIL3</th>
               <th>SOIL4</th>
               <th>SOIL5</th>
               <th>SOIL6</th>
               <th>MinTtest</th>
               <th>MaxTtest1</th>
               <th>MaxTtest2</th>
              
               {% if user.is_superuser %}
               <th></th>
               <th></th>
                {% endif %}
            </tr>
    </thead>
    <tbody>
   
    {% for data in data %}
        
            <tr>
                <td>{{data.id}}</td>
               <td>{{data.DATE |date:" d-m-Y"}}</td>
               {% comment %} <td>{{data.DATE}}</td> {% endcomment %}
               <td>{{data.ET}}</td>
               <td>{{data.EP}}</td>
               <td>{{data.BSS}}</td>
               <td>{{data.RF}}</td>
               <td>{{data.WD}}</td>
               <td>{{data.WD1}}</td>
               <td>{{data.WS}}</td>
               <td>{{data.DT1}}</td>
               <td>{{data.WT1}}</td>
               <td>{{data.DT2}}</td>
               <td>{{data.WT2}}</td>
               <td>{{data.MAXT}}</td>
               <td>{{data.MINT}}</td>
               <td>{{data.RH11}}</td>
               <td>{{data.RH22}}</td>
               <td>{{data.VP11}}</td>
               <td>{{data.VP11}}</td>
               <td>{{data.CLOUDM}}</td>
               <td>{{data.CLOUDE}}</td>
               <td>{{data.SOIL1}}</td>
               <td>{{data.SOIL2}}</td>
               <td>{{data.SOIL3}}</td>
               <td>{{data.SOIL4}}</td>
               <td>{{data.SOIL5}}</td>
               <td>{{data.SOIL6}}</td>
               <td>{{data.MinTtest}}</td>
               <td>{{data.MaxTtest1}}</td>
               <td>{{data.MaxTtest2}}</td>
               {% comment %} <td>{{data.}}</td> {% endcomment %}

               {% if user.is_superuser %}
               <td><a href = "admin/test1/weather_data/{{data.id}}/change/" class="btn-info btn">Edit</a>  </td>
             
               <td><a href = "W_delete{{data.id}}"class="btn-danger btn" >Delete</a></td>
               
               {% endif %}
            </tr>

            {% endfor %}
            </tbody>
        
        <tfoot>
            <tr>
                <th>Sr No</th>
               <th>DATE</th>
               <th>ET</th>
               <th>EP</th>
               <th>BSS</th>
               <th>RF</th>
               <th>WD</th>
               <th>WD1</th>
               <th>WS</th>
               <th>DT1</th>
               <th>WT1</th>
               <th>DT2</th>
               <th>WT2</th>
               <th>MAXT</th>
               <th>MINT</th>
               <th>RH11</th>
               <th>RH22</th>
               <th>VP11</th>
               <th>VP11</th>
               <th>CLOUDM</th>
               <th>CLOUDE</th>
               <th>SOIL1</th>
               <th>SOIL2</th>
               <th>SOIL3</th>
               <th>SOIL4</th>
               <th>SOIL5</th>
               <th>SOIL6</th>
               <th>MinTtest</th>
               <th>MaxTtest1</th>
               <th>MaxTtest2</th>  
                
            </tr>
        </tfoot>
</table>
    </div>
   


</body>
{% endblock  %}