{% extends 'analysis.html' %}

{% block css %}
<meta charset="utf-8">
  <title>Django Highcharts Example</title>
  <style>
  .container {
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
}

#buttonrow {
  max-width: 600px;
  min-width: 320px;
  margin: 0 auto;
}

.highcharts-axis-line {
  stroke-width: 0;
}
th, td, p, input {
            font:14px Verdana;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
        }

  </style>
  

{% endblock  %}
{% comment %} ------------------------------------header Part------------------------------------------------------- {% endcomment %}
{% block header %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>


<div id="container1" class="container"></div>


{% comment %} <div id="container3" class="container"></div> {% endcomment %}

<div id="buttonrow">
  <button id="export-png" class = "btn btn-info">Export to PNG</button>
  <script type="text/javascript">
			function closeCurrentTab(){
				var conf=confirm("Are you sure, you want to close this tab?");
				if(conf==true){
					close();
				}
			}
		</script>
  <button class="btn btn-danger" type="button"  onclick="closeCurrentTab()"> Close</button>
</div>
<div style="font-size:18px">


<table id="test_table" class="display" style="width:100%">
        
        
    </table>

<script type="text/javascript">
   {% comment %} $(document).ready(function() {
        
       var json={{ test_data | safe }}
       var data= json["context"]
       var json2 = JSON.stringify(context)
       window.alert(json2)
       $('#test_table').DataTable({
         "ajax": json2   
       } );
 
   }); {% endcomment %}
   $('#test_table').DataTable({
                          "ajaxSource": json2,
                            "columns": [
                              {
                                "week": {{week}},
                                 
                              },
                              {
                                "PWW":{{pww}},
                                 
                              },
                              {
                                "PWD":{{PWD}},
                                 
                              }
                            ]
                        } );
        
 </script>


{% comment %} <script>
    function CreateTableFromJSON() {
        var myBooks = [{
            DD:{{DD}},
            N0:{{N0}},
            N1:{{N1}},
        }]

        // EXTRACT VALUE FOR HTML HEADER. 
        // ('Book ID', 'Book Name', 'Category' and 'Price')
        var col = [];
        for (var i = 0; i < myBooks.length; i++) {
            for (var key in myBooks[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
        }

        // CREATE DYNAMIC TABLE.
        var table = document.createElement("table");

        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

        var tr = table.insertRow(-1);                   // TABLE ROW.

        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < myBooks.length; i++) {

            tr = table.insertRow(-1);

            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.innerHTML = myBooks[i][col[j]];
            }
        }

        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    }
</script> {% endcomment %}


<script>
   /**
 * Create a global getSVG method that takes an array of charts as an argument. The SVG is returned as an argument in the callback.
 */
Highcharts.getSVG = function(charts, options, callback) {
  var svgArr = [],
    top = 0,
    width = 0,
    addSVG = function(svgres) {
      // Grab width/height from exported chart
      var svgWidth = +svgres.match(
          /^<svg[^>]*width\s*=\s*\"?(\d+)\"?[^>]*>/
        )[1],
        svgHeight = +svgres.match(
          /^<svg[^>]*height\s*=\s*\"?(\d+)\"?[^>]*>/
        )[1],
        // Offset the position of this chart in the final SVG
        svg;

      if (svgWidth > 500) {
        svg = svgres.replace('<svg', '<g transform="translate(0,' + top + ')" ');
        top += svgHeight;
        width = Math.max(width, svgWidth);
      } else {
        svg = svgres.replace('<svg', '<g transform="translate(' + width + ', 0 )"');
        top = Math.max(top, svgHeight);
        width += svgWidth;
      }

      svg = svg.replace('</svg>', '</g>');
      svgArr.push(svg);
    },
    exportChart = function(i) {
      if (i === charts.length) {
      
      	// add SVG image to exported svg
      	addSVG(svgImg.outerHTML);
        
        return callback('<svg height="' + top + '" width="' + width +
          '" version="1.1" xmlns="http://www.w3.org/2000/svg">' + svgArr.join('') + '</svg>');
      }
      charts[i].getSVGForLocalExport(options, {}, function(e) {
        console.log("Failed to get SVG");
      }, function(svg) {
        addSVG(svg);
        return exportChart(i + 1); // Export next only when this SVG is received
      });
    };
    
  exportChart(0);
};

/**
 * Create a global exportCharts method that takes an array of charts as an argument,
 * and exporting options as the second argument
 */
Highcharts.exportCharts = function(charts, options) {
  options = Highcharts.merge(Highcharts.getOptions().exporting, options);

  // Get SVG asynchronously and then download the resulting SVG
  Highcharts.getSVG(charts, options, function(svg) {
    Highcharts.downloadSVGLocal(svg, options, function() {
      console.log("Failed to export on client side");
    });
  });
};

// Set global default options for all charts
Highcharts.setOptions({
  exporting: {
    fallbackToExportServer: false // Ensure the export happens on the client side or not at all
  }
});

responsive: {
  rules: [{
    condition: {
      maxWidth: 500
    },
    chartOptions: {
      legend: {
        enabled: false
      }
    }
  }]
}
// Create the charts
var chart1 = Highcharts.chart('container1', {

  chart: {
          type: 'line',
          
          
      },
      title: {
          text: 'Probability of standard week being wet for Anand district'
      },
      yAxis: {
        title: {
            text: 'Probability'
        }
    },
      xAxis: {
        categories: {{ week|safe }}
      },
      
      series: [{
          name: 'P(W/W)',
          data: {{ PWW }},
          color: 'green'
      }, {
          name: 'P(W/D)',
          dashStyle:'dash',
          data: {{ PWD }},
          color: 'red'
      },{
          name: 'P(W)',
          dashStyle: 'shortdot',
          data: {{ PW }},
          color: 'blue',
          
      }],

  exporting: {
    enabled: false // hide button
  }

});

// function that convert image from url to blob
function toDataURL(url, callback) {
  var xhr = new XMLHttpRequest();
  xhr.onload = function() {
    var reader = new FileReader();
    reader.onloadend = function() {
      callback(reader.result);
    }
    reader.readAsDataURL(xhr.response);
  };
  xhr.open('GET', url);
  xhr.responseType = 'blob';
  xhr.send();
}


var svgImg = document.createElementNS('http://www.w3.org/2000/svg','svg');
svgImg.setAttribute('xmlns:xlink','http://www.w3.org/1999/xlink');
svgImg.setAttribute('height','400');
svgImg.setAttribute('width','600');
svgImg.setAttribute('id','test');

var svgimg = document.createElementNS('http://www.w3.org/2000/svg','image');
svgimg.setAttribute('height','400');
svgimg.setAttribute('width','600');
svgimg.setAttribute('id','testimg');

// convert image and add to svg image object
toDataURL('https://www.highcharts.com/samples/graphics/skies.jpg', function(dataUrl) {
  svgimg.setAttributeNS('http://www.w3.org/1999/xlink', 'href', dataUrl);
});

svgimg.setAttribute('x','0');
svgimg.setAttribute('y','0');
svgImg.appendChild(svgimg);

$('#export-png').click(function() {
  Highcharts.exportCharts([chart1]);
});
$('#export-pdf').click(function() {
  Highcharts.exportCharts([chart1], {
    type: 'application/pdf'
  });
});

</script>
<div>
{% comment %} <a href="datatable" class="btn btn-link">Datatable</a> {% endcomment %}
</div>
{% endblock %}

